<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DrawablesDemo"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Drawables"
            android:label="Drawables Shapes" />

        <activity
            android:name=".BasicShapes"
            android:label="Basic Shapes" />
        <activity
            android:name=".Corners"
            android:label="Corners!" />
        <activity
            android:name=".Gradients"
            android:label="Gradients!" />
        <activity
            android:name=".StateLists"
            android:label="State Lists!" />
        <activity
            android:name=".NinePatch"
            android:label="Nine Patch!" />
        <activity android:name=".RelativeLayoutTest" />
    </application>

</manifest>