<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.actionbar"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".googlenative.NativeActionBarActivity"
            android:label="@string/NativeActionBar"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".implement.Imple1ActionBarActivity"
            android:label="@string/NativeActionBar"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".sherlock.Imple2ActionBarActivity"
            android:label="@string/NativeActionBar"
            android:theme="@android:style/Theme.NoTitleBar" />
    </application>

</manifest>