<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.longluo.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DragChooseActivity"
            android:exported="false" />
        <activity
            android:name=".DragListItemToTargetActivity"
            android:exported="false" />
        <activity
            android:name=".RadioButtonPhoneMoneyActivity"
            android:exported="false" />
        <activity
            android:name=".DatePickerDialogActivity"
            android:exported="false" />
        <activity
            android:name=".okhttpthree.Okhttp3Activity"
            android:exported="false" />
        <activity android:name=".spinner.CustomSpinnerActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".dialog.DialogActivity" />

        <activity android:name=".spinner.spinnerday.SpinnerDayActivity" />

        <activity android:name=".view.DatePickerDialogActivity" />

        <activity android:name=".view.RadioButtonPhoneMoneyActivity" />
        <activity android:name=".view.dragtotarget.DragListItemToTargetActivity" />
        <activity android:name=".view.dragchoose.DragChooseActivity" />
    </application>

</manifest>