<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.oschina.app"
    android:versionCode="18"
    android:versionName="1.7.4" >

    <uses-sdk android:minSdkVersion="4" />

    <application
        android:name=".AppContext"
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".AppStart"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.About"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZoomLight" />
        <activity
            android:name=".ui.FeedBack"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HalfTranslucent"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.Main"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.NoTitleBar" />
        <activity
            android:name=".ui.LoginDialog"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HalfTranslucent"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".ui.NewsDetail"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SlideTop" />
        <activity
            android:name=".ui.SoftwareLib"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZoomLight" />
        <activity
            android:name=".ui.SoftwareDetail"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SlideTop" />
        <activity
            android:name=".ui.BlogDetail"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SlideTop" />
        <activity
            android:name=".ui.QuestionTag"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SlideTop" />
        <activity
            android:name=".ui.QuestionDetail"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SlideTop" />
        <activity
            android:name=".ui.QuestionPub"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZoomLight"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.TweetDetail"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SlideTop" />
        <activity
            android:name=".ui.TweetPub"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZoomLight"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.MessageDetail"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SlideTop" />
        <activity
            android:name=".ui.MessagePub"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SlideTop"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.MessageForward"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SlideTop"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.CommentPub"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZoomLight"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.Setting"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Preference" />
        <activity
            android:name=".ui.Search"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZoomLight"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".ui.UserInfo"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZoomLight" />
        <activity
            android:name=".ui.UserCenter"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZoomLight" />
        <activity
            android:name=".ui.UserFavorite"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZoomLight" />
        <activity
            android:name=".ui.UserFriend"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZoomLight" />
        <activity
            android:name=".ui.ImageDialog"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.HalfTranslucent" />
        <activity
            android:name=".ui.ImageZoomDialog"
            android:configChanges="keyboardHidden|orientation"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ZoomLight.Fullscreen" />

        <receiver android:name=".ui.BroadCast" >
            <intent-filter>
                <action android:name="net.oschina.app.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />

</manifest>